*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: Roboto, sans-serif;
}
:root {

  /* Hex colors */
  --color-primary-blue: #004287;
  --color-secondary-blue: #c3d1e0;
  --color-red: #e94653;
  --color-yellow: #fecf16;
  --color-blue: #00b0eb;
  --color-brown: #603609;
  --color-light-gray: #cdd1ca;
  --color-green: #2ea028;
  --color-white: #ffffff;
  --color-black: #000;

  --color-light-red: #f9c5c9;
  --color-light-yellow: #fff3cc;
  --color-light-blue: #cceff8;
  --color-light-drown: #dccdbf;
  --color-light-light-gray: #f0f1ef;
  --color-light-green: #d5ecd4;
}


body {
  min-height: 100vh;
  color: var(--color-black);
  background: var(--color-secondary-blue);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Roboto,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 button {
    /* Font and Text */
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-white);

    /* Background and Border */
    border: 2px solid var(--color-light-green); /* Border color */
   background-color: var(--color-green);
    border-radius: 8px;

    /* Size and Spacing */
    padding: 12px 24px;
    margin: 10px;

    /* Effects */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  /* Hover Effect */
  button:hover {
    background-color: var(--color-green); /* Secondary color */
    color: var(--color-black); /* Text color for contrast */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  /* Active (Click) Effect */
  button:active {
    background-color: var(--color-light-green); /* Tertiary color */
    border-color: var(--color-green); /* Border color */
    color: var(--color-black);
    transform: translateY(2px);
  }

  /* Optional: Disabled State */
  button:disabled {
    background-color: #dccdbf; /* Light neutral */
    color: #603609;
    cursor: not-allowed;
    box-shadow: none;
  }

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto Slap", Roboto, sans-serif;
}
